.main {
    /* border: solid;
            border-width: 75px; */
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main span {
    margin-top: 10px;
}


.image {
    background-color: gold;
    border: solid;
    border-radius: 6px;
    border-width: 8px;
}

.button {
    background-color: rgb(254, 255, 255);
    padding: 1.5px;
    border-radius: 4.6px;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000000;
    transition: tansform 0.2s, bacground-color 0.2s;
}

.button:hover {
    transform: scale(0.95);
    background-color: rgb(21, 73, 187);
    
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


@media(max-width:821px) {
    .main {
        position: relative;
        left: 72px;
        width: 80%;

    }

    .span {
        position: relative;
        left: 22px;
        font-size: x-large;
    }

    .img {
        width: 500px;
    }

    .button {
        font-size: x-large;
    }
}
.h2{
    position: relative;
    left: 480px;
    bottom: ;
}